a:not([href]):not([tabindex]) {
    color: #28a745;
    font-weight: 600;
    font-size: 1.5rem;
}
.navbar {
    border: .2rem solid;
}

#button-Holder {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.btn-sm {
    margin: .2em;
    text-transform: capitalize;
}

#gif-Section {
    display: flex;
    font-size: .7rem;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
}

.card-body {
    padding: .1rem;
}

.card-title {
    margin: 0;
    font-weight: 700;
}

.list-group-item {
    font-size: .7rem;
    padding: 0;
}